.pro-sidebar {
    position: fixed;
    top: -48px;
    bottom: 0;
    left: -2px;
    min-height: 105.5vh !important;
    width:  150px;
    z-index: 100;
    padding: 48px 2px 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    
    
}

.logoText {
    font-size: 25px;
    text-align: center;
    padding: 19px 0 0 0;

}

.closemenu {
    text-align: right;
    font-size: 25px;
    padding: 0 0 0 0;
}
